html {
  height: 100%;
  width: 100%;
}
.menu{
  position:absolute;
  top:40px;
  left:60px;
  text-transform:capitalize;
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  overflow:hidden;
  width:150px;
}
.menu a{
background-color:#ffffff;
  color: white ;
  font-size: 0.6em;
  padding: 1px;
  display:none;
}
.menu:hover a{
background-color:#c4bfd4;
  display: block ;
}
.menu a:hover{
background-color:#cbd9e6 ;
border:1px solid black;
}
.container{
   background-color:#e3f3fd;
  width:100%;
}
.po{
  background-color: #aecce4;
}
.header{
  color:#000000;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}
#flower{
  font-size:3em;
}
#aboutMe{
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
font-size:.9em;
}
#list{
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
#listTitle{
  font-family: 'Courier New', monospace;
  font-weight:bold;
  background-color:#bdd5e7;
}
#career{
    font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
font-size:.9em;
}
#headings {
     font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}
#careerheading {
     font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  padding: 14px; 
}
#listlink a {
    color: black !important;
      font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
#radiology{
 text-decoration: none; 
color: black !important;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
font-size:.9em;
}

  
