html {
  height: 100%;
  width: 100%;
}
.menu{
  position:absolute;
  top:40px;
  left:60px;
  text-transform:capitalize;
  font-family:'Courier New', monospace;
  font-size: 1.4em;
  overflow:hidden;
  width:150px;
}
.menu a{
background-color:#ffffff;
  color: white ;
  font-size: 0.6em;
  padding: 1px;
  display:none;
}
.menu:hover a{
background-color:#c4bfd4;
  display: block ;
}
.menu a:hover{
background-color:#cbd9e6 ;
border:1px solid black;
}
.container{
   background-color:#e3f3fd;
  width:100%;
}
.po{
  background-color: #aecce4;
}
.header{
  color:#000000;
  font-family: 'Times New Roman', serif;
}
#flower{
  font-size:3em;
}
#aboutMe{
 font-family: 'Courier New', monospace;
font-weight:bold;
font-size:.7em;
}
#list{
font-family: 'Times New Roman', serif;
font-weight:bold;
}
#listTitle{
  font-family: 'Courier New', monospace;
  font-weight:bold;
  background-color:#bdd5e7;
}
#career{
   font-family: 'Courier New', monospace;
  font-weight:bold;
  font-size:.9em;
}
#headings {
  font-family: 'Times New Roman', serif;
}
#careerheading {
  font-family: 'Times New Roman', serif;
  padding: 14px; 
}
#listlink a {
    color: black !important;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}
#radiology{
 text-decoration: none; 
color: black !important;
 font-family: 'Courier New', monospace;
font-weight:bold;
font-size:.9em;
}
 
