body{
  background-color: #e5f3fd;
}
*{
  box-sizing:border-box;
}
.banner{
background-color:#aecce4;
  margin:15px;
  padding:10px;
  height:120px;
  border:3px solid #black;
  box-shadow:5px 5px 15px 10px #9baac7;
  outline:2px 1px groove #b7ade6;
  text-transform:capitalize;
  font-family:'Courier New', monospace;
  font-size: 0.4em;
  text-align:right;
}
.container{
border:3px solid #658aa3 ;
  margin:15px;
  padding:10px;
  height:620px;
  background-color:rgba(240, 246, 250, 0.5);
}
#cfu1{
  border:2px solid #ffffff;
background-color:rgba(187, 218, 240, 0.6);
  padding:3px;
  display:block;
  margin:1px;
  font-family: 'Times New Roman', serif;
  font-size: 1em;

}
#cfu2{
 border:2px solid #ffffff;
background-color:rgba(187, 218, 240, 0.6);
  padding:3px;
  display:block;
  margin:1px;
  font-family: 'Times New Roman', serif;
  font-size: 1em;
}
#cfu3{
 border:2px solid #ffffff;
background-color:rgba(187, 218, 240, 0.6);
  padding:3px;
  display:block;
  margin:1px;
  font-family: 'Times New Roman', serif;
  font-size: 1em;
}
#cfu4{
 border:2px solid #ffffff;
background-color:rgba(187, 218, 240, 0.6);
  padding:3px;
  display:block;
  margin:1px;
  font-family: 'Times New Roman', serif;
  font-size: 1em;
}
#cfu5{
 border:2px solid #ffffff;
background-color:rgba(187, 218, 240, 0.6);
  padding:3px;
  display:block;
  margin:1px;
  font-family: 'Times New Roman', serif;
  font-size: 1em;
}
#cfu6{
  border:2px solid #ffffff;
background-color:rgba(187, 218, 240, 0.6);
  padding:3px;
  display:block;
  margin:1px;
  font-family: 'Times New Roman', serif;
  font-size: 1em;

}
.wave{
background-color:rgba(187, 218, 240, 0.6);
height:55px;
overflow:hidden;
 width:80%;
  position:relative;
  left:10%;
  transition:height 4s;
}
.wave:hover{
  height:590px;
  z-index:1;
}
.menu{
  position:absolute;
  top:40px;
  left:60px;
  text-transform:capitalize;
   font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  overflow:hidden;
  width:150px;
}
.menu a{
background-color:#ffffff;
  color: white ;
  font-size: 0.6em;
  padding: 1px;
  display:none;
}
.menu:hover a{
background-color:#c4bfd4;
  display: block ;
}
.menu a:hover{
background-color:#cbd9e6 ;
border:1px solid black;
}

h4{
font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
h2{
font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.link{
  color:black;
  background-color: #c7c7e0;

}
.projectHeadings{
 font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}
.Description{
font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.colectionlink{
   position:absolute;
  top:90px;
  left:60px;
  text-transform:capitalize;
  font-family:'Courier New', monospace;
  font-size: .9em;
  width:170px;
  color:black;
  background-color:#b7c8d7;
}
.image{
  border:4px solid #aecce4;
}
